body{
	background-image: white;
	background-position: center;
	background-size: cover;
	background-repeat:no-repeat;
	font-family: 'Piedra', cursive;

}

.button {
  background-color: red;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 3px 1px;
  transition: all 1s;
}

.button:hover{
	transform:scale(1.1);
}

.button5 {border-radius: 1000%;}

